<footer>
  <div class="content-container">
    <a href="#"><img src="images/GitHub_Logo_White.png" alt="GitHub" class="gh"></a>
    <a href="#"><img src="images/Logo-White-34px-R.png" alt="LinkedIn" class="li"></a>
    <a href="#"><img src="images/soundcloud-logo_white.png" alt="SoundCloud" class="sc"></a>
  </div>
</footer>
