<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ariana</title>
  <style>
    img {
      width: 1200px;
    }
  </style>
</head>
<body>
{{> header}}
  <p>
    {{welcomeMessage}}
  </p>
  <img src="https://i.pinimg.com/originals/c7/8d/2a/c78d2a4fc8a6e84972fc5389b778d2d8.jpg" alt="">
  {{> footer}}
</body>
</html>
