html {
  background-color: #efefef;
  border-top: 5px solid #000;
  height: 100%;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
}
.container-fluid {
  background-color: #fff;
  display: block;
  margin: 0 auto;
  font-family: 'Heebo', Arial, sans-serif;
  position: relative;
  padding: 0 0 50px;
}

.banner-img {
  background-image: url('../images/la-sunset-profile.jpeg');
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 100%;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.banner-img img {
  position: relative;
  z-index: 100000;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  -webkit-box-shadow: 0 0 100px #fff;
  box-shadow: 0 0 100px #fff;
  -webkit-animation-name: throb;
  animation-name: throb;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.banner-img img:focus {
  animation-name: spin;
  border: 5px solid #000;
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

/*@-webkit-keyframes throb {
  0% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -ms-transform: scale(.9, .9);
    -webkit-transform: scale(.9, .9);
    transform: scale(.9, .9);
  }
}
@-o-keyframes throb {
  0% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -ms-transform: scale(.9, .9);
    -webkit-transform: scale(.9, .9);
    transform: scale(.9, .9);
  }
}
@-moz-keyframes throb {
  0% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -ms-transform: scale(.9, .9);
    -webkit-transform: scale(.9, .9);
    transform: scale(.9, .9);
  }
}*/
@keyframes throb {
  0% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -ms-transform: scale(.9, .9);
    -webkit-transform: scale(.9, .9);
    transform: scale(.9, .9);
  }
}

header {
  padding: 10px 40px;
  color: #fff;
  background-color: #000;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  display: block;
  margin: 0 auto;
  width: 1170px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.title h1 {
  margin: 0 20px 0 0;
  font-weight: bold;
  display: inline-block;
}

.title div {
  height: 18px;
}

header a,
header a:visited {
  color: #fff;
  text-decoration: none;
}
.weather {
  -ms-align-self: flex-end;
  align-self: flex-end;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  -ms-align-items: center;
  align-items: center;
}
.temperature {
  font-size: 36px;
  font-weight: bold;
  margin-left: 15px;
}
.location {
  font-size: 14px;
}

section {
  padding: 40px;
}

ul {
  padding: 0;
}

header li {
  display: inline-block;
  list-style-type: none;
  margin-right: 15px;
}

footer {
  height: 50px;
  width: 100%;
  max-width: 100%;
  color: #fff;
  background-color: #000;
  position: absolute;
  bottom: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

footer .content-container {
  justify-content: flex-end;
}

footer p {
  display: inline-block;
}

footer a {
  color: #fff;
  text-align: right;
  height: 16px;
}

footer img {
  height: 16px;
}

footer a {
  margin-left: 20px;
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
}
